@font-face {
  font-family: 'Ultra';
  src: url('../assets/fonts/Ultra-Regular.ttf') format('ttf');
  font-family: 'Mali-light';
  src: url('../assets/fonts/Mali-Light.ttf') format('ttf');
  font-family: 'Mali-bold';
  src: url('../assets/fonts/Mali-Medium.ttf') format('ttf');
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mali-light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
  cursor: pointer;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  width: 100%;
  height: 170px;
  padding-bottom: -10px;
  margin-bottom: 3px;
  background: #b6a129;
}

.title-nav {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whole-header {
  padding: 0;
  display: flex;
  color: #fff;
  margin-left: 115px;
}

.fa-hat-cowboy-side {
  position: relative;
  font-size: 40px;
  top: 15px;
  left: -24px;
  transform: rotate(-15deg);
}

.fa-pepper-hot {
  position: relative;
  font-size: 25px;
  top: 27px;
  left: 197px;
  color: green;
  z-index: 2;
}

.rest-title {
  font-family: 'Ultra', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  font-size: 50px;
  color: #fff;
  left: -100px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 140px;
  position: relative;
  top: -130px;
  left: 1100px;
  font-size: 20px;
}

.social-icons i {
  border-radius: 50%;
  background: #fff;
  color: #837f6c;
}

.social-icons i:hover {
  opacity: .8;
}

.fa-facebook-f {
  font-size: 19px;
  padding: 7px 12px;
}

.fa-instagram {
  padding: 7px 9px;
}

.fa-twitter {
  padding: 7px;
}

nav {
  padding: 0;
  top: 250px;
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin: 0;
  margin-top: -15px;
}

.nav-btn {
  font-size: 20px;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  background: transparent;
  transition: transform 0.3s;
}

.nav-btn.active {
  border: 1px #fff solid;
  border-style: dashed;
}

.nav-btn:hover {
  transform: translateY(-10%);
  opacity: 0.8;
}

.btn-underline {
  border-bottom: 2px solid;
}

.view {
  padding: 0;
  width: 100%;
  height: 550px;
}

.home {
  width: 100%;
  height: 550px;
  background: url(../assets/images/Tacos.jpg) no-repeat;
  filter: brightness(80%);
  background-position-y: center;
  background-size: cover;
  border: 2px solid transparent;
}

.home-text {
  position: relative;
  top: 70px;
  left: 500px;
  font-size: 55px;
  font-weight: 500;
  color: #fff;
  width: 300px;
  padding: 20px 10px;
  background: rgba(71, 70, 49, 0.6);
}

.full-menu {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  column-gap: 100px;
  justify-items: center;
  width: 65%;
  height: 550px;
  margin: 0 auto;
  padding: 0 auto;
  overflow-y: scroll;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 295px;
  margin: 10px auto;
  padding: 20px 17px 0 17px;
  border: 1px solid #837f6c;
  border-style: dashed;
  border-radius: 15px;
}

.menu-item img {
  width: 300px;
  height: 200px;
  border-radius: 15px;
}

.menu-item h3 {
  margin-top: -15px;
  padding: 5px 10px;
  background: #b6a129;
  color: #fff;
}

.menu-item p {
  width: 80%;
  margin-top: -5px;
  font-size: 13px;
  text-align: center;
  color: #837f6c;
  font-weight: 500;
}

.contact {
  width: 60%;
  height: 500px;
  margin: 20px auto;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  color: #837f6c;
  font-size: 15px;
  font-weight: 500;
}

.contact p {
  margin-bottom: 0px;
}

.contact iframe {
  width: 550px;
  height: 350px;
  margin-top: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110px;
  font-size: 25px;
  background: #b6a129;
  color: #fff;
  margin-top: 7px;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16%;
  margin: auto;
  margin-top: 30px;
  font-size: 17px;
}

.fa-github-alt {
  font-size: 23px;
  color: #fff;
}

.fa-github-alt:hover {
  opacity: 0.8;
}

.footer-year {
  width: 10%;
  font-size: 15px;
  margin: -10px auto auto auto;
}
