@font-face {
  font-family: 'Ultra';
  src: url('../assets/fonts/Ultra-Regular.ttf') format('ttf');
  font-family: 'Mali-light';
  src: url('../assets/fonts/Mali-Light.ttf') format('ttf');
  font-family: 'Mali-bold';
  src: url('../assets/fonts/Mali-Medium.ttf') format('ttf');
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mali-light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background: lightseagreen; */
}

button {
  cursor: pointer;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  width: 100%;
  height: 300px;
  padding-bottom: 23px;
  margin-bottom: 0;
  background: #b6a129;
}

.title-nav {
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whole-header {
  padding: 0;
  display: flex;
  color: #fff;
  margin-left: 65px;
}

.fa-hat-cowboy-side {
  position: relative;
  font-size: 80px;
  top: 15px;
  left: 45px;
  transform: rotate(-15deg);
}

.fa-pepper-hot {
  position: relative;
  font-size: 47px;
  top: 55px;
  left: 495px;
}

.rest-title {
  font-family: 'Ultra', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  font-size: 100px;
  color: #fff;
  left: -100px;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  position: relative;
  top: -270px;
  right: -1650px;
  font-size: 33px;
}

.social-icons i {
  border-radius: 50%;
  background: #fff;
  color: #837f6c;
}

.social-icons i:hover {
  opacity: .8;
}

.fa-facebook-f {
  font-size: 32px;
  padding: 9px 16px;
}

.fa-instagram {
  padding: 9px 11px;
}

.fa-twitter {
  padding: 9px 10px;
}

nav {
  padding: 0;
  top: 250px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: -20px;
}

.nav-btn {
  font-size: 35px;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 15px;
  background: transparent;
  transition: transform 0.3s;
}

.nav-btn.active {
  border: 4px #fff solid;
  border-style: dashed;
}

.nav-btn:hover {
  transform: translateY(-20%);
}

.btn-underline {
  border-bottom: 2px solid;
}

.view {
  padding: 0;
  margin: 5px 0 7px 0;
  width: 100%;
  height: 900px;
  background: url(../assets/images/Tacos.jpg) no-repeat;
  filter: brightness(80%);
  background-position-y: center;
  background-size: cover;
}

.home {
  width: 100%;
  height: 900px;
}

.home-text {
  position: relative;
  top: 180px;
  left: 720px;
  font-size: 80px;
  font-weight: 600;
  color: #fff;
  width: 500px;
  padding: 20px 20px;
  background: rgba(71, 70, 49, 0.6);
}

.full-menu {
  display: grid;
  grid-template-areas:
  'menuItem menuItem',
  'menuItem menuItem',
  'menuItem menuItem',
  'menuItem menuItem';
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  height: 180px;
  font-size: 25px;
  background: #b6a129;
  color: #fff;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18%;
  margin: auto;
  margin-top: 50px;
  font-size: 30px;
}

.fa-github-alt {
  font-size: 40px;
  color: #fff;
}

.footer-year {
  width: 11%;
  margin: -15px auto auto auto;
}
